# Python Dependency Manifest
#
# Deployment environment: development, testing

-c requirements.txt

black==22.1.0
coverage==6.0
flake8-formatter-junit-xml==0.0.6
flake8==3.9.2
ipython==7.31.1
isort==5.8.0
mypy==0.910
unittest-xml-reporting==3.0.4
