# Python Dependency Manifest
#
# Deployment environment: development, testing

-c requirements.txt

black==22.1.0
coverage==6.3.2
flake8-formatter-junit-xml==0.0.6
flake8==4.0.1
ipython==8.2.0
isort==5.10.1
mypy==0.942
unittest-xml-reporting==3.2.0
